@model Cinema.Models.MovieVM
@using Cinema.Utils;
    @{
        ViewBag.Title = "Edit";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Edit</h2>

    @using (Html.BeginForm("Update", "Movies", FormMethod.Post, new { Class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();

        @Html.HiddenFor(m => m.Id);
        @Html.HiddenFor(m => m.PosterURL);

        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtTitle">@Html.LabelFor(m => m.Title)</label>
            <div class="col-sm-10">

                <input type="text" name="Title" class="form-control" value="@Model.Title" id="txtTitle" placeholder="" />
                @Html.ValidationMessageFor(m => m.Title)
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtYear">@Html.LabelFor(m => m.Year)</label>
            <div class="col-sm-10">

                <input type="date" name="Year" class="form-control" value="@Model.Year.ToString("yyyy-MM-dd")" id="txtYear" placeholder="" />
                @Html.ValidationMessageFor(m => m.Year)
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtProducer">@Html.LabelFor(m => m.Producer)</label>
            <div class="col-sm-10">

                <input type="text" name="Producer" class="form-control" value="@Model.Producer" id="txtProducer" placeholder="" />
                @Html.ValidationMessageFor(m => m.Producer)
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtDescription">@Html.LabelFor(m => m.Description)</label>
            <div class="col-sm-10">

                <textarea type="text" name="Description" class="form-control" id="txtDescription" placeholder="">@Model.Description</textarea>
                @Html.ValidationMessageFor(m => m.Description)
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtPosterURL">@Html.LabelFor(m => m.PosterURL)</label>
            <div class="col-sm-10">
                
                <img id="user_img" height="200" width="250" src="@Model.PosterURL" onclick="$('#file').click();" style="border:1px solid gray; margin-bottom:10px; " />
                <span>Image size: @ApplicationSettings.MovieImageSize</span>
                <input name="image" type="file" id="file" onchange="show(this)" />
            </div>
        </div>

        <p>
            <input type="submit" value="Edit" />
        </p>
    }
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">

        function show(input) {
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#user_img').attr('src', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }
    </script>  